nav li {
    list-style: none;
    display:inline;
    float: left; 
}

nav>ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #414141;
    display: block;
}

nav li a{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
    background-color: black;
   }

  nav li.active {
    background-color: rgb(44, 44, 44);
    text-decoration: underline;
  }

img{
  display: inline;
}

#nav-h1{
  display: inline;
  float: right;
}