/* Appointment Form */
.appointment-form {
    padding: 4rem 2rem;
    background-color: rgba(30, 30, 30, 0.9);
    backdrop-filter: blur(10px);
    color: #fff;
    text-align: center;
}

.form-container {
    max-width: 500px;
    margin: 0 auto;
    background-color: rgba(50, 50, 50, 0.8);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0);
}

.form-container h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #ffa500;
}

.form-group {
    position: relative;
    margin-bottom: 2rem;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 1rem;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #222;
    color: #ddd;
    font-family: inherit;
}

.form-group i {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    color: #777;
}

.form-group select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Cpath%20fill%3D%22%23777%22%20d%3D%22M6%209l4-5H2z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-position: right 0.7rem center;
    background-size: 1rem;
    padding-right: 2rem;
}

.form-group textarea {
    resize: vertical;
    min-height: 100px;
}

.submit-btn {
    background-color: #ffa500;
    color: #111;
    padding: 1rem 2rem;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #ff8c00;
}

/* Social Media Icons Section */
.social-media {
    background-color: #333;
    padding: 20px 0;
    text-align: center;
}

.social-media h3 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
}

.social-icons {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.social-icons li {
    margin: 0 10px;
    display: inline;
}

.social-icons li a {
    display: inline;
}

.social-icons li img {
    width: 40px; /* Increase icon size */
    height: auto;
    transition: transform 0.3s ease; /* Add transition to hover effect */
}

.social-icons li img:hover {
    transform: scale(1.2);
}

section.social-media {
    background-color: rgba(43, 43, 41, 0.548);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
