body {
    line-height: 1.6;
    background-color: #1a1a1a;
    color: #fff;
    background-size: cover;
    background-position: center;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background-color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    position: sticky;
    top: 0;
}

.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 4rem auto;
    padding: 2rem;
    background-color: #2a2a2a9c;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.contact-info {
    flex-basis: 45%;
}

.contact-info h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.contact-info h2 span {
    color: #ff6b6b;
}

.contact-form {
    flex-basis: 50%;
}

.contact-details div {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.contact-details i {
    font-size: 1.5rem;
    color: #ff6b6b;
    margin-right: 1rem;
    font-family: 'FontAwesome';
}


form input,
form textarea {
    display: block;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #555;
    background-color: #1a1a1a94;
    color: #fff;
    border-radius: 4px;
    font-family: inherit;
}

form button.btn {
    background-color: #ff6b6b;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button.btn:hover {
    background-color: #ff4d4d;
}

/* Social Media Icons Section */
.social-media {
    background-color: #333;
    padding: 20px 0;
    text-align: center;
}

.social-media h3 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
}

.social-icons {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.social-icons li {
    margin: 0 10px;
    display: inline;
}

.social-icons li a {
    display: inline;
}

.social-icons li img {
    width: 40px; /* Increase icon size */
    height: auto;
    transition: transform 0.3s ease; /* Add transition to hover effect */
}

.social-icons li img:hover {
    transform: scale(1.2);
}

section.social-media {
    background-color: rgba(43, 43, 41, 0.548);
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;}