table,th,td  {
    border:  2px groove black;
    border-collapse: collapse;
    padding: 5px;
  }
  body {
    font-family: Arial, sans-serif;
  }
  h1, h2 {
    color: #333;
  }
  .logo {
    height: 60px;
    padding: 0;
    margin: 0;
    display: inline-block; /*changed from inline to inline-block*/
    align-items: center;
  }
th{
    font-family:serif;
    font-size: 20px;
}
td{
    font-family: cursive;
    font-size: 16px;
}