
footer p{
    display: inline;
  }
  
  #footer-right{
    float:right;
  }
  footer{
    height: max-content;
  }

  
#outer {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    background-color: #ffde73;
    height: max-content;
  }
  

  
  #col1 {
    grid-column-start: 1;
    width:auto  ;
    background-color: #d9d9d9;
  }
  
  #col2 {
    grid-column-start: 2;
    background-color: #e6e6e6;
  }
  
  #col3 {
    grid-column-start: 3;
    background-color: #d9d9d9;
  } 
  footer h3 {
    margin-top: 0;
    text-align: center;
  }
  
  footer ul {
    list-style-type: none;
    padding: 0;
  }
  
  footer li {
    margin-bottom: 10px;
    padding: 3px 10px;
  }
  
  footer a {
    color: #000;
    text-decoration: none;
  }

  footer a:hover{
    text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.5); 
  }
  
  footer img{
    display: block;
    margin: 0 auto;
  }
  
  .follow img{
    display: inline;
    width: 30px;
    padding:20px 10px;
  }