nav li {
    list-style: none;
    display:inline;
    float: left; 
}

nav>ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #414141;
}

nav li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
    background-color: black;
   }

  nav li.active {
    background-color: rgb(44, 44, 44);
    text-decoration: underline;
  }

#nav-h1{
  display: inline;
}


nav input{
  color:black;
  text-align: left;
  height: 30px;
  margin-top: 9px ;
  overflow:hidden;
  float:inline-end;
}

.logo{
  height:40px;
  padding : 0;
  margin: 0;
  margin: auto;
  display: inline;
  align-items: center;
}
