/* Adjusted styling for file uploader section */
body{
    background-image: url(../img/bg.jpeg);
    background-repeat: no-repeat; 
    background-size: cover; /* Cover the entire viewport */
    background-position: center;
}
.container {
    border: 2px solid #007bff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    width: calc(50% - 20px); /* Set width to match half of the chart's width */
    height: 200px; /* Set height */
    overflow: auto; /* Enable scroll if content exceeds container */
    position: relative; /* Needed for absolute positioning of buttons */
}

.upload-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.upload-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-button:hover {
    background-color: #0056b3;
}

.upload-input {
    display: none; /* Hide the input */
}

.upload-label {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.upload-label:hover {
    background-color: #0056b3;
}

.text-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.text-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: calc(50% - 10px);
}

.button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

.download-button {
    margin-right: 10px;
}

.delete-button {
    margin-left: 10px;
}
/* Chart */
/* Chart */
.chart {
    background-color: rgba(128, 128, 128, 0.4);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(50% - 20px);
    padding: 20px;
    border: 2px solid #007bff;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 1px solid #ccc;
    padding: 27px;
    margin-right: 20px;
}

.bar {
    background-color: #007bff;
    color: white;
    padding: 15px;
    border-radius: 5px;
    position: relative;
}

.bar::before {
    content: attr(data-progress) "%";
    position: absolute;
    top: 0;
    left: 0; /* Position on the left */
    width: var(--progress);
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    transition: width 0.5s ease;
    padding-left: 5px; /* Add padding for space between percentage and bar */
    text-align: left; /* Align text to the left */
}
