.container{
    display: grid;
    grid-template-columns: 33% 34% 33%;
}

#col1{
    grid-column-start: 1;
    background-color: aquamarine;

}

#col2{
    grid-column-start: 2;
    background-color: rgb(14, 189, 130);
}

#col3{
    grid-column-start: 3;
    background-color: rgb(112, 212, 179);
}
