body {
    background-color: #1a1a1a;
    color: #dddddd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

fieldset {
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    width: auto;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #2b2b2be1;
}

legend {
    font-size: 2rem;
    font-weight: bold;
    color: #ffa500;
    font-family: 'Segoe UI', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    font-family: 'Segoe UI', sans-serif;
    color: #ffa500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    font-family: 'Segoe UI', sans-serif;
}

.current-logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #333;
    background-image: url("path/to/current_logo.png");
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.upload-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-input {
    padding: 0.5rem;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #3333337e;
    color: #ddd;
    cursor: pointer;
}

.upload-label {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: #ddd;
}

button {
    background-color: #ffa500;
    border: none;
    color: #111;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff8c00;
}

label {
    font-weight: bold;
    font-family: 'Segoe UI', sans-serif;
    position: relative;
    display: inline-block;
    margin: 10px auto;
    font-size: 16px;
    color: #ffa500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

input[type="text"],
input[type="date"],
input[type="tel"],
input[type="email"],
input[type="password"] {
    width: 90%;
    height: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    font-size: 16px;
    background-color: #333;
    color: #ddd;
}

input::placeholder,
textarea::placeholder {
    color: #bdc2bd;
}

textarea {
    width: 90%;
    height: 100px;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    font-size: 16px;
    resize: vertical;
    background-color: #333;
    color: #ddd;
}

button {
    background-color: #ffa500;
    color: #111;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto auto 40%;
}

button:disabled {
    background-color: #4b4b4b;
    cursor: not-allowed;
}

button:disabled:hover {
    background-color: #4b4b4b;
    cursor: not-allowed;
}

/* Social Media Icons Section */
.social-media {
  background-color: #333;
  padding: 20px 0;
  text-align: center;
}

.social-media h3 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 10px;
}

.social-icons {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.social-icons li {
  margin: 0 10px;
  display: inline;
}

.social-icons li a {
  display: inline;
}

.social-icons li img {
  width: 40px; /* Increase icon size */
  height: auto;
  transition: transform 0.3s ease; /* Add transition to hover effect */
}

.social-icons li img:hover {
  transform: scale(1.2);
}

section.social-media {
  background-color: rgba(43, 43, 41, 0.548);
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}
